# Ignorar los directorios y archivos generados por la construcción del proyecto
/build/
/install/
/log/

# Ignorar los archivos de configuración locales
*.env

# Ignorar los archivos y directorios de Python bytecode
__pycache__/
*.pyc

# Ignorar los archivos de registro y otros archivos temporales
*.log
*.temp
*.tmp
# Ignorar archivos de caché generados por el sistema operativo
.DS_Store

# Ignorar archivos de registro generados por Python
*.log

# Ignorar archivos y directorios generados por el entorno de desarrollo virtual de Python
venv/
.env

# Ignorar archivos compilados de Python
__pycache__/
*.pyc

# Ignorar archivos de dependencias y directorios de módulos de Node.js
node_modules/
